# Introduction scikit learna

This notebook demostrates some of the most useful functions of the beautiful Scikit-Learn library

* An end-to-end Sckit learn workflow
* Getting the data ready
* Choose the right estimator/ Algorithm for our problems
* Evaluating a model
* Improve a model
* Save and load a trained model
* Putting it all together

## An end-to-end Scikit learn Workflow

In [1]:
# Get the data
import numpy as np
import pandas as pd
heart_disease = pd.read_csv("6.1 heart-disease.csv")

In [2]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Create X ( Features matrix)
X = heart_disease.drop("target" , axis =1)

# Create Y ( labels)
Y = heart_disease["target"]

In [4]:
X , Y

(     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
 0     63    1   3       145   233    1        0      150      0      2.3
 1     37    1   2       130   250    0        1      187      0      3.5
 2     41    0   1       130   204    0        0      172      0      1.4
 3     56    1   1       120   236    0        1      178      0      0.8
 4     57    0   0       120   354    0        1      163      1      0.6
 ..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
 298   57    0   0       140   241    0        1      123      1      0.2
 299   45    1   3       110   264    0        1      132      0      1.2
 300   68    1   0       144   193    1        1      141      0      3.4
 301   57    1   0       130   131    0        1      115      1      1.2
 302   57    0   1       130   236    0        0      174      0      0.0

      slope  ca  thal
 0        0   0     1
 1        0   0     2
 2        2   0     2
 3        2   0     2
 4        2   0     2
 ..     ...  ..   ...
 298      1   0     3
 299      1   0     3
 300      1   2     3
 301      1   1     3
 302      1   1     2

 [303 rows x 13 columns],
 0      1
 1      1
 2      1
 3      1
 4      1
       ..
 298    0
 299    0
 300    0
 301    0
 302    0
 Name: target, Length: 303, dtype: int64)

In [5]:
# Choose the right model and hyperparameters

from sklearn.ensemble import RandomForestClassifier
clf= RandomForestClassifier()

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
from sklearn.model_selection import train_test_split

X_train , X_test , Y_train , Y_test = train_test_split(X,Y , test_size=0.2)

In [7]:
clf.fit(X_train , Y_train);

In [8]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
131,49,0,1,134,271,0,1,162,0,0.0,1,0,2
120,64,0,0,130,303,0,1,122,0,2.0,1,2,2
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1
51,66,1,0,120,302,0,0,151,0,0.4,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,45,0,0,138,236,0,0,152,1,0.2,1,0,2
241,59,0,0,174,249,0,1,143,1,0.0,1,0,2
59,57,0,0,128,303,0,0,159,0,0.0,2,1,2
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
90,48,1,2,124,255,1,1,175,0,0.0,2,2,2

In [9]:
# mak a prediction 
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
233,64,1,0,120,246,0,0,96,1,2.2,0,1,2
187,54,1,0,124,266,0,0,109,1,2.2,1,1,3
214,56,1,0,125,249,1,0,144,1,1.2,1,1,2
93,54,0,1,132,288,1,0,159,1,0.0,2,1,2
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3
215,43,0,0,132,341,1,0,136,1,3.0,1,0,3
66,51,1,2,100,222,0,1,143,1,1.2,1,0,2
199,65,1,0,110,248,0,0,158,0,0.6,2,2,1
290,61,1,0,148,203,0,1,161,0,0.0,2,1,3

In [10]:
Y_preds = clf.predict(X_test)
Y_preds

array([0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0], dtype=int64)

In [11]:
# Evaluate the model
clf.score(X_train , Y_train)

1.0

In [12]:
 clf.score(X_test , Y_test)

0.7868852459016393

In [13]:
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score
print(classification_report(Y_test , Y_preds))

              precision    recall  f1-score   support

           0       0.93      0.69      0.79        36
           1       0.68      0.92      0.78        25

    accuracy                           0.79        61
   macro avg       0.80      0.81      0.79        61
weighted avg       0.82      0.79      0.79        61

In [15]:
confusion_matrix(Y_test , Y_preds)

array([[25, 11],
       [ 2, 23]], dtype=int64)

In [16]:
accuracy_score(Y_test , Y_preds)

0.7868852459016393

In [20]:
# Improve a model 
# try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with{i} estimators...")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train , Y_train)
    print(f"Model accuracy on test set :{clf.score(X_test , Y_test)*100: 2f}%")
    print(" ")

Trying model with10 estimators...
Model accuracy on test set : 83.606557%

Trying model with20 estimators...
Model accuracy on test set : 81.967213%

Trying model with30 estimators...
Model accuracy on test set : 80.327869%

Trying model with40 estimators...
Model accuracy on test set : 81.967213%

Trying model with50 estimators...
Model accuracy on test set : 78.688525%

Trying model with60 estimators...
Model accuracy on test set : 83.606557%

Trying model with70 estimators...
Model accuracy on test set : 80.327869%

Trying model with80 estimators...
Model accuracy on test set : 81.967213%

Trying model with90 estimators...
Model accuracy on test set : 80.327869%

In [21]:
# Save a model and load it
import pickle

pickle.dump(clf , open("random_forest_model_1.pkl", "wb"))

In [22]:
loaded_model = pickle.load(open("random_forest_model_1.pkl","rb"))
loaded_model.score(X_test , Y_test)

0.8032786885245902